server {
    listen 80;
    listen [::]:80;

    server_name mfr.sjahamilton.ca www.mfr.sjahamilton.ca;

    location / {
        return 301 https://$host$request_uri;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name mfr.sjahamilton.ca www.mfr.sjahamilton.ca;

    # todo: add ssl config

    location / {
        proxy_pass http://localhost:3000;
    }
}